body {
    // typo
    color: $color-dark;
    font-family: $font-body;
}

a {
    // typo
    color: $color-dark;
    text-decoration: none;
}

ul {
    // layout
    padding-left: 0;
}

li {
    // typo
    list-style-type: none;
}

img {
    // layout
    max-width: 100%;
}

textarea {
    // layout
    width: 100%;
    padding: rem-calc(10);

    // typo
    color: $color-light;

    // design
    border: rem-calc(1) solid $color-light;
    outline: none;
    border-radius: rem-calc(20);
    background-color: transparent;

    // event
    resize: none;
}

input {
    // layout
    padding: rem-calc(10);

    // typo
    color: $color-light;

    // design
    border: rem-calc(1) solid $color-light;
    outline: none;
    border-radius: rem-calc(20);
    background-color: transparent;
}