h1,h2,h3,h4,h5,h6 {
    // layout
    margin: 0;
}

h1 {
    // typo
    @include breakpoint-style('font-size', $font-size-h1);
    line-height: .8;
    font-weight: normal;
    font-family: $font-display;
}

h2 {
    // typo
    @include breakpoint-style('font-size', $font-size-h2);
    line-height: 1;
    font-weight: normal;
    font-family: $font-display;
}

h3 {
    // typo
    @include breakpoint-style('font-size', $font-size-h3);
    line-height: 1;
    font-weight: 600;
    font-family: $font-body;
}

h4 {
    // typo
    @include breakpoint-style('font-size', $font-size-h4);
}

h5 {
    // typo
    @include breakpoint-style('font-size', $font-size-h5);
}

h6 {
    // typo
    @include breakpoint-style('font-size', $font-size-h6);
}

.button {
    // typo
    @include breakpoint-style('font-size', $font-size-button);
}

p, a {
    // typo
    @include breakpoint-style('font-size', $font-size-text);
    line-height: 1.2;
}
