.hero {
    // layout
    height: calc(100vh - rem-calc(135));
    position: relative;
    overflow: hidden;
    min-height: rem-calc(1024);

    // design
    background-color: $color-tertiary;

    .hero-content {
        // layout 
        height: 100%;
        display: flex;
        z-index: 1;
        position: relative;
        flex-direction: column;
        justify-content: center;

        // typo
        color: $color-light;

        .hero-separator {
            // layout 
            width: rem-calc(150);
            height:rem-calc(2);
            display: flex;
            margin: rem-calc(32 0);
            align-items: center;
            justify-content: space-evenly;

            // design
            background-color: $color-secondary;

            span {
                // layout 
                width: rem-calc(10);
                height: rem-calc(10);
                display: block;

                // design
                background-color: $color-secondary;

                // animation 
                transform: rotate(-45deg)
            }
        }

        .hero-description {
            // layout 
            width: 100%;

            @include laptop {
                // layout 
                width: 50%;
            }
        }

        .hero-button__wrap {
            // layout 
            display: flex;
            column-gap:  rem-calc(32);
            margin-top: rem-calc(16);

            .button {
                &:nth-child(odd) {
                    // design
                    background-color: $color-light;
                }
            }
        }
    }

    .hero-carousel {
        // layout 
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        height: 100%;
        position: absolute;
        justify-content: flex-end;

        .hero-carousel__inner {
            // layout 
            width: 100%;
            height: 100%;
            position: relative;

            @include laptop {
                // layout 
                width: 50%;
            }
        }

        .hero-carousel__item {
            // layout 
            top: 0;
            left: 50%;
            width: rem-calc(500);
            height: rem-calc(500);
            overflow: hidden;
            position: absolute;

            // animation
            transform: translate(-50%, -50%);

            // design
            border: rem-calc(1) solid $color-primary;
            border-radius: 50%;

            @include mobile {
                // layout 
                width: rem-calc(768);
                height: rem-calc(768);
            }

            @include laptop {
                // layout 
                top: 50%;
                width: rem-calc(600);
                height: rem-calc(600);
            }
        }

        .hero-carousel__image {
            // layout 
            top: 50%;
            left: 50%;
            display: none;
            position: absolute;
            max-width: rem-calc(1000);
            height: 100%;

            // animation
            transform: translate(-50%, -50%);

            @include laptop {
                // layout 
                height: auto;
            }

            &.is-active {
                // layout 
                display: block;
            }
        }

        .hero-carousel__controls {
            // layout 
            top: 10%;
            left: 50%;
            width: rem-calc(320);
            display: flex;
            z-index: 2;
            position: absolute;
            justify-content: space-between;

            // animation
            transform: translate(-50%, -50%);

            @include mobile {
                // layout 
                top: 15%;
                width: rem-calc(450);
            }

            @include tablet {
                // layout 
                width: rem-calc(500);
            }

            @include laptop {
                // layout 
                top: 55%;
            }
        }

        .hero-carousel__control {
            // design
            border: none;
            background-color: transparent;

            // events 
            cursor: pointer;

            svg {
                // layout 
                width: rem-calc(50);

                @include laptop {
                    // layout 
                    width: rem-calc(30);
                }
            }
        }
    }
}