.three-tiles {
    // design
    background-color: $color-secondary;

    .three-tiles__illusion-bg {
        // layout
        height: rem-calc(100);
    }

    .three-tiles__inner {
        // layout 
        display: flex;
        row-gap: rem-calc(72);
        column-gap: rem-calc(32);
        padding-bottom: rem-calc(44);
        flex-wrap: wrap;
        justify-content: center;

        @include laptop {
            // layout 
            column-gap: rem-calc(100);
            justify-content: space-between;
        }
    }
}