.two-columns {
    .two-columns__content {
        // layout
        display: flex;
        justify-content: space-between;
        column-gap: 32px;
    }

    .two-columns__col {
        // layout
        width: 50%;
    }
}