// Breakpoint
$mobile: rem-calc(425);
$tablet: rem-calc(768);
$laptop: rem-calc(1024);
$desktop: rem-calc(1440);
$hd: rem-calc(1920);
$two-k: rem-calc(2560);

// Fonts Family
$font-display: 'Dubbo', serif;
$font-body: 'Mukta', sans-serif;

// Colors
$color-dark: #000000;
$color-light: #ffffff;
$color-grey: #cccccc;
$color-primary: #71cc49;
$color-secondary: #207b25;
$color-tertiary: #043b05;
$color-violet: #AB4A9C;
$color-yellow: #FFC60B;
$color-pink: #ED1164;
$color-blue: #00AEEF;

// Fonts size
$font-size-h1: (
    null: rem-calc(72),
    $laptop: rem-calc(130),
);
$font-size-h2: (
    null: rem-calc(60),
);
$font-size-h3: (
    null: rem-calc(60),
);
$font-size-h4: (
    null: rem-calc(48),
);
$font-size-h5: (
    null: rem-calc(32),
);
$font-size-h6: (
    null: rem-calc(24),
);
$font-size-button: (
    null: rem-calc(22),
);
$font-size-text: (
    null: rem-calc(20),
);
$font-size-footer-title: (
    null: rem-calc(20),
);