.articles {
    .articles__search {
        // layout
        width: 100%;
        margin: 0;
        padding: 0;

        // design
        border: 0;
        outline: 0;
        border-radius: 0;
        border-bottom: 1px solid $color-primary;
    }

    .articles__list {
        // layout
        display: flex;
        margin: rem-calc(16 0);
        row-gap: rem-calc(32);
        flex-flow: row wrap;
        column-gap: rem-calc(32);
        justify-content: space-between;
    }
    
}