.article-card {
    // layout
    width: 30%;

    .article-card__image {
        // layout
        width: 100%;
        height: rem-calc(300);
        object-fit: cover;
        object-position: center center;
    }
}

