.calendar {
    // layout
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(10% - rem-calc(60));

    .calendar__container {
        // layout
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-right: rem-calc(25);
    }

    .calendar__top {
        // layout
        width: 100%;
        display: flex;
    }

    .calendar__title {
        // layout
        width: 100%;
        margin: rem-calc(0 0 16);

        // typo
        text-align: center;
    }

    .calendar__day,
    .calendar__day-name {
        // layout
        width: calc(100% / 7);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        // event 
        cursor: pointer;
    }

    .calendar__day-name {
        // layout
        margin-bottom: rem-calc(20);
    }

    .calendar__day {
        // layout
        min-height: rem-calc(50);
    }

    .calendar__prev,
    .calendar__next {
        // event 
        cursor: pointer;
    }

    .calendar__legend {
        // layout 
        width: 40%;
        margin-top: rem-calc(32);
    }

    .calendar__selected-day {
        // layout
        width: 50%;
        padding: rem-calc(16);
        margin-top: rem-calc(32);

        // typo
        color: $color-light;

        // design
        background-color: $color-dark;
    }
}