.calendar {
    // layout
    display: flex;
    flex-wrap: wrap;
    row-gap: rem-calc(32);
    column-gap: calc(10% - rem-calc(60));

    .calendar__container {
        // layout
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .calendar__top {
        // layout
        width: 100%;
        display: flex;
        align-items: center;
        padding-inline: rem-calc(32);
        justify-content: space-between;

        // design
        border: rem-calc(1) solid $color-light;
        border-top-left-radius: rem-calc(10);
        border-top-right-radius: rem-calc(10);
    }

    .calendar__title {
        // layout
        display: flex;
        height: 100%;

        // typo
        color: $color-tertiary;
        text-align: center;

        // design
        background-color: $color-light;

        span {
            // layout 
            width: rem-calc(1);
            height: calc(100% - rem-calc(20));
            display: block;
            margin: rem-calc(10 0);

            // design 
            background-color: $color-grey;
        }

        .calendar__title--month,
        .calendar__title--year {
            // layout 
            padding: rem-calc(16 80);
        }
    }

    .calendar__day-name--container {
        // layout
        width: 100%;
        display: flex;

        // design
        border-bottom: rem-calc(.5) solid $color-light;
    }

    .calendar__day-name {
        // layout
        width: calc(100% / 7);
        display: flex;
        padding: rem-calc(10 0);
        align-items: center;
        flex-direction: column;
        justify-content: center;

        // design
        border-left: rem-calc(1) solid $color-light;
        background-color: $color-secondary;

        // event 
        cursor: pointer;

        &:last-of-type {
            // design
            border-right: rem-calc(1) solid $color-light;
        }
    }

    .calendar__day--container {
        // layout
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        // design
        border: rem-calc(1) solid $color-light;
        border-bottom-right-radius: rem-calc(20);
        border-bottom-left-radius: rem-calc(20);
    }

    .calendar__day {
        // layout
        width: calc((100% - rem-calc(8)) / 7);
        height: rem-calc(80);
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        // design
        border-left: rem-calc(.25) solid $color-light;
        border-bottom: rem-calc(.25) solid $color-light;

        // event 
        cursor: pointer;

        .calendar__day-number {
            // layout 
            margin: rem-calc(5);
            width: rem-calc(24);
            height: rem-calc(24);
            display: flex;
            justify-content: center;
            align-items: center;

            // typo
            color: $color-dark;

            // design
            border-radius: rem-calc(24);
            background-color: $color-primary;

            &.is-empty {
                // design
                background-color: transparent;
            }
        }

        .calendar__day-event--list {
            // layout 
            height: rem-calc(34);
            display: flex;
            column-gap: rem-calc(5);
            margin: 0;
            align-items: center;

            .calendar__dot {
                // layout 
                width: rem-calc(10);
                height: rem-calc(10);
                
                // design
                border-radius: 50%;
                background-color: $color-light;

                &.calendar__dot--events {
                    // design
                    background-color: $color-yellow;
                }

                &.calendar__dot--courses {
                    // design
                    background-color: $color-violet;
                }

                &.calendar__dot--workshops {
                    // design
                    background-color: $color-pink;
                }

                &.calendar__dot--celebrations {
                    // design
                    background-color: $color-blue;
                }
            }
        }

        &.is-selected {
            // design
            background-color: $color-primary;

            .calendar__day-number {
                // typo
                color: $color-light;

                // design
                background-color: $color-tertiary;

                &.is-empty {
                    // design
                    background-color: transparent;
                }
            }
        }
    }

    .calendar__prev,
    .calendar__next {
        // event 
        cursor: pointer;

        svg {
            // layout
            width: rem-calc(16);
            height: rem-calc(16);
        }
    }

    .calendar__legend {
        // layout 
        width: 40%;

        .calendar__legend--container {
            // layout
            display: flex;
            column-gap: rem-calc(16);
        }

        .calendar__legend--type-list {
            // layout
            display: flex;
            flex-wrap: wrap;
            row-gap: rem-calc(16);
        }

        .calendar__legend--type-item {
            // layout
            width: 50%;
            display: flex;
            align-items: center;
            column-gap: rem-calc(8);

            .calendar__legend--color {
                // layout
                display: block;
                width: rem-calc(10);
                height: rem-calc(10);

                // design
                border-radius: 50%;

                &.calendar__legend--color--courses {
                    // design
                    background-color: $color-violet;
                }

                &.calendar__legend--color--events {
                    // design
                    background-color: $color-yellow;
                }

                &.calendar__legend--color--workshops {
                    // design
                    background-color: $color-pink;
                }

                &.calendar__legend--color--celebrations {
                    // design
                    background-color: $color-blue;
                }
            }
        }
    }

    .calendar__highlight {
        // layout
        width: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        // design
        border: rem-calc(1) solid $color-light;
        border-radius: rem-calc(20);

        .calendar__selected-date--wrapper {
            // layout 
            padding: rem-calc(16);
            padding-right: rem-calc(48);

            // design
            border-bottom-right-radius: rem-calc(20);
            background-color: $color-secondary;
        }

        .calendar__highlight--event-list {
            // layout
            padding-inline: rem-calc(16);

            .calendar__highlight--event-item {
                // layout
                display: flex;
                column-gap: rem-calc(8);
                align-items: center;
                margin-bottom: rem-calc(16);

                &::before {
                    // layout 
                    display: block;
                    content: '';
                    width: rem-calc(10);
                    height: rem-calc(10);

                    // design
                    border-radius: 50%;
                }

                &.calendar__highlight--type-events {
                    &::before {
                        // design
                        background-color: $color-yellow;
                    }
                }

                &.calendar__highlight--type-courses {
                    &::before {
                        // design
                        background-color: $color-violet;
                    }
                }

                &.calendar__highlight--type-workshops {
                    &::before {
                        // design
                        background-color: $color-pink;
                    }
                }

                &.calendar__highlight--type-celebrations {
                    &::before {
                        // design
                        background-color: $color-blue;
                    }
                }
            }
        }
    }
}