.footer {
    .footer__inner {
        // layout 
        padding-top: rem-calc(46);

        // typo
        color: $color-light;

        // design
        background-color: $color-dark;

        .container {
            // layout 
            display: flex;
            padding-top: rem-calc(46);
            justify-content: center;
            flex-direction: column;

            @include tablet {
                // layout 
                flex-direction: row;
                justify-content: center;
            }
        }
    }
    
    .footer-col {
        // layout 
        display: flex;
        column-gap: rem-calc(32);
        padding-inline: rem-calc(16);
        padding-bottom: rem-calc(32);
        flex-direction: column;
        row-gap: rem-calc(32);

        @include tablet {
            // layout 
            flex-direction: row;
        }

        &:first-of-type {
            // layout
            display: none;
            padding-left: 0;
            align-items: center;
            justify-content: center;

            // design
            border-right: rem-calc(1) solid $color-grey;

            @include tablet {
                // layout 
                display: flex;
            }

            @include laptop {
                // layout 
                align-items: flex-start;
                min-height: rem-calc(275);
            }
        }

        &:last-child {
            // layout
            padding-right: 0;
            width: 100%;
            margin: 0;
            padding-inline: 0;

            @include tablet {
                // layout
                width: auto;
                margin: unset;
                padding-inline: rem-calc(16);
            }
        }
    }

    .footer__logo {
        // layout 
        display: none !important;

        @include tablet {
            // layout
            width: rem-calc(275);
        }

        &.is-desktop {
            // layout 
            display: none !important;
        
            @include laptop {
                // layout 
                display: flex !important;
            }
        }
        
        &.is-mobile {
            // layout 
            display: flex !important;
        
            @include laptop {
                // layout 
                display: none !important;
            }
        }

    }

    .footer-title {
        // typo
        @include breakpoint-style('font-size', $font-size-footer-title);
    }

    .footer-newsletter__text {
        @include tablet {
            // layout
            max-width: rem-calc(250);
        }

    }

    .footer-newsletter__form {
        // layout
        display: flex;
        row-gap: rem-calc(16);
        flex-flow: row wrap;
        justify-content: space-between;

        @include tablet {
            // layout 
            max-width: rem-calc(400);
        }

        .footer-newsletter__input-wrapper {
            display: flex;
            column-gap: rem-calc(16);
            justify-content: space-between;
            width: 100%;
        }

        .input {
            // layout
            width: 50%;
        }

        .button {
            // layout
            padding: rem-calc(10 16);

            // typo
            @include breakpoint-style('font-size', $font-size-text);
        }
    }

    .footer-social-media__list {
        // layout
        display: flex;
        column-gap: rem-calc(16);

        .footer-social-media__icon {
            // layout
            width: rem-calc(30);
            height: rem-calc(30);
        }
    }

    .footer-copyright__inner {
        // layout
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer-google-map {
        // layout
        overflow: hidden;

        iframe {
            // layout
            width: 100%;
            height: rem-calc(400);
        }
    }
}