.navigation {
    padding: rem-calc(15 0);
}

.navigation__inner {
    // layout
    display: flex;
    column-gap: rem-calc(32);
    align-items: center;
    justify-content: space-between;
}

.navigation__left-side {
    // layout
    display: flex;
}

.navigation__logo {
    // layout
    width: 100%;
    height: 100%;
    max-width: rem-calc(200);

    @include laptop {
        // layout 
        max-width: rem-calc(275);
    }
}

.navigation__line {
    // layout 
    width: rem-calc(1);
    height: 100%;
    display: block;

    // design
    background-color: $color-grey;
}

.navigation__list {
    // layout
    column-gap: rem-calc(16);
    align-items: center;

    &::before {
        // layout 
        width: rem-calc(1);
        height: 100%;
        margin: rem-calc(0 16);
        content: '';

        // design
        background-color: $color-grey;
    }
    
    .navigation__item {
        .navigation__link {
            // layout 
            padding: rem-calc(5 16);

            // typo
            @include breakpoint-style('font-size', $font-size-text);
            color: $color-tertiary;

            // design
            border-radius: rem-calc(20);
        }

        .router-link-active {
            // typo
            color: $color-light;

            // design
            background-color: $color-tertiary;
        }
    }
}

.navigation__lang {
    // layout 
    height: rem-calc(67);
    display: flex;
    align-items: center;

    &::after {
        // layout 
        height: 100%;
        content: '';
        display: inline-block;
    }

    &:first-of-type {
        &::after {
            // layout 
            width: rem-calc(1);
            margin: rem-calc(0 16W);

            // design
            background-color: $color-grey;
        }
    }

    .navigation__link {
        // layout 
        width: rem-calc(35);
        height: rem-calc(35);
        display: inline-block;
        position: relative;
        
        // typo
        color: $color-light;

        // design
        border-radius: rem-calc(30);
        background-color: $color-grey;

        &.router-link-exact-active {
            // design
            background-color: $color-tertiary;
        }

        .navigation__link-text {
            // layout 
            top: 50%;
            left: 50%;
            position: absolute;

            // animation 
            transform: translate(-50%, -50%);
        }
    }
}

.navigation__button-mobile {
    // layout 
    width: rem-calc(50);
    height: rem-calc(50);

    // design
    border: none;
    background-color: transparent;

    // event 
    cursor: pointer;

    .navigation__hamburger-icon {
        // layout
        top: 50%;
        left: 50%;
        position: relative;
        width: rem-calc(22);
        height: rem-calc(12);
        z-index: 999999;

        // animation 
        transform: translate(-50%, -50%);

        &:hover {
            span {
                &:first-of-type {
                    // layout 
                    width: 125%;
                }

                &:last-of-type {
                    // layout 
                    width: 75%;
                }
            }
        }

        &.is-active {
            &:hover {
                span {
                    &:first-of-type {
                        // layout 
                        width: 100%;
                    }
    
                    &:last-of-type {
                        // layout 
                        width: 100%;
                    }
                }
            }

            span {
                &:first-of-type {
                    // layout 
                    top: rem-calc(5);

                    // animation 
                    transform: rotate(45deg);
                }

                &:last-of-type {
                    // layout 
                    bottom: rem-calc(5);

                    // animation 
                    transform: rotate(-45deg);
                }
            }
        }

        span {
            // layout 
            display: block;
            position: absolute;
            width: 100%;
            height: rem-calc(2);

            // design
            background-color: $color-tertiary;

            // animation 
            transition: all .2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

            &:first-of-type {
                // layout 
                top: 0;
            }

            &:last-of-type {
                // layout 
                bottom: 0;
            }
        }
    }
}